/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background-color: #cce7ff; /* azul clarito */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

.home-container {
  background: white;
  padding:30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 600px;
}

.main-title {
  font-size: 5rem;
  color: #003366;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.5rem;
  color: #336699;
  margin-bottom: 2rem;
}

.button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007BFF; /* azul más fuerte para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button-home {
  padding: 12px 24px;
  font-size: 30px;
  background-color: #007BFF; /* azul más fuerte para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button-home:hover {
  background-color: #0056b3;
}

.top-bar {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.2rem;
  color: #003366;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: transparent;
  border: 2px solid #003366;
  color: #003366;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #003366;
  color: white;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 320px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}