/* App.css */

.home-page {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(../public/FantasyClouds.gif);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

.home-container {
  position: absolute;
  top: 32%;
  left: 28%;
  background: white;
  padding:30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 600px;
}

.main-title {
  font-size: 5rem;
  color: #003366;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.5rem;
  color: #336699;
  margin-bottom: 2rem;
}

.button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007BFF; /* azul más fuerte para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.red_button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ff0000; /* rojo para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.red_button:hover {
  background-color: #b30000;
}

.button-home {
  padding: 12px 24px;
  font-size: 30px;
  background-color: #007BFF; /* azul más fuerte para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button-home:hover {
  background-color: #0056b3;
}

.top-bar {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #00336673;
  color: white;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 320px;
  margin-top: 20%;
}

.profile-container{
  background: white;
  padding: 4%;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 320px;
  margin-top: 11%;
  margin-bottom: 11%;
}

.container-div{
  height: 100vh;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.menu-page {
  height: 100vh;
  width: 100vw;
  background-image: url(../public/FantasyClouds.gif);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
}

.top-right {
  position: absolute;
  top: 70px;
  right: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  color: #000000;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.scrollable-group-container {
  max-height: 300px; /* o el tamaño que prefieras */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-item {
  width: 94%; /* Ancho completo */
  height: 100px; /* Alto fijo para cada grupo */
  background-color: #f0f4ff; /* Fondo blanco */
  border: 2px #003366 solid;
  color: #003366;
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.group-item:hover {
  background-color: #003366;
  color: #f0f4ff;
  border: 2px solid #f0f4ff ;
}

.marquee {
  width: 80%;
  flex-direction: column;
}

.group-container{
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.group-actions {
  background-color: #ffffff;
  display: flex;                /* Fes servir Flexbox */
  flex-direction: column;       /* En columna (vertical) */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
  gap: 30px;                    /* Espai entre els botons (opcional) */
}

.deadline {
  padding: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Título y subtítulo */
.menu-page {
  font-size: 1.5rem;
  font-style: Arial;
  color: #003366;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.main-title {
  font-size: 3rem;
  color: #003366;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.container-menu{
  height: 100vh;
  width: 100vw;
  background-image: url(../public/FantasyClouds.gif);
}

.white-container{
  background: white;
  padding: 3% 2%;
  border-radius: 12px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.menu-title {
  font-size: 2rem;
  top : 10%;
  color: #0056b3;
}
 .group-list{
  overflow: auto;
  width: 50%;
  height: 350px;
  background-color: #003366;
  border-radius: 15px;
  border: #003366 3px solid;
  color: #003366;
  font-family: 'Franklin Gothic Medium';
 }

 .group-list::-webkit-scrollbar {
  display: none;
}

.no-group{
  margin: 5%;
}

.menu-p{
  margin-bottom: 5%;
}

 .button-menu {
  padding: 12px 24px;
  font-size: 40px;
  background-color: #007BFF; /* azul más fuerte para el botón */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button-menu:hover {
  background-color: #0056b3;
}

.groupDiv{
  box-shadow: 0 2px 0 #003366 inset;
  margin: 0%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f0f4ff;
  text-align: left;
}

.groupDiv:hover{
  background-color: #003366;
  color: #f0f4ff;
}

.groupDiv p {
  margin: 0;
}

.end-page{
  height: 100vh;
  width: 100vw;
  background-image: url(../public/FantasyClouds.gif);
}

.waiting-message{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.division-party {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.pending-users-dropdown {
  margin: 1rem 0;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: fit-content;
  cursor: pointer;
}

.pending-users-dropdown summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.pending-users-dropdown ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  list-style: disc;
}

.pending-users-dropdown li {
  margin-bottom: 0.25rem;
}
